<section class="section">

    <div class="row px-md-5 pt-5 bridge-wrapper">
        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            

        </div>
        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>

        </div>


        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            

        </div>
        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="bridge-card-wrapper"> 
                <div class="img-wrapper">
                    <img src="assets/web/bridgeuser.svg" alt="" class="bridge-card-img">
                </div>
                <div>
                    <h2 class="m-0">Robert Fox</h2>
                    <p class="fs-14 fw-400 m-0 text-start">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>

        </div>


    </div>




</section>