.left-box-wrapper {
    padding: 62px 10px 0px 100px;
  }
  .row {
     margin: 0px;
  }
  .left-box-btn {
    background-color: #3ddebd;
    border-radius: 25px;
    width: 100%;
    padding: 10px 0px;
    position: relative;
    text-align: center;
  }
  .left-box-btn:hover {
    color: white;
    background-color:#23c7a6 ;
  }
  .btn-img {
    position: absolute;
    left: 20px;
  }
  .dropdown-buttom {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 20px gainsboro;
    border: none;
  }
  .btn-wrapper {
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 20px gainsboro;
    padding: 20px;
    border-radius: 5px;
  }
  .dropdown-toggle::after {
    margin-left: 30px;
  }
  .card-wrapper {
    width: 100%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 20px gainsboro;
    margin-top: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .card-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .heading-dot {
    width: 5px;
    height: 5px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 7px;
  }
  
  .avatar-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .card-upper {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 20px; 
  }
  .right-box-wrapper {
    padding-top: 62px;
  }
  .right-box-card {
    width: 100%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px gainsboro;
    display: flex;
    padding: 6px;
    align-items: center;
    margin-bottom: 15px;
  }
  .right-box-padding {
    padding-left: 10px;
    padding-right: 80px;
  }
  .right-box-avtar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user-status {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .dropdown-menu {
    z-index: 10;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-color: #EBFFFB !important;
}
  @media only screen and (max-width: 768px) {
    .left-box-wrapper {
      display: none;
    }
    .section {
      padding: 10px;
    }
  }
  